[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = [
  "python3 -m venv /opt/venv",
  "/opt/venv/bin/pip install --upgrade pip",
  "/opt/venv/bin/pip install -r backend/requirements.txt"
]

[start]
cmd = "/opt/venv/bin/python backend/manage.py migrate && /opt/venv/bin/gunicorn core.wsgi --chdir backend --bind 0.0.0.0:$PORT --log-file -"
