[phases.setup]
nixPkgs = ["python311", "python311Packages.pip", "python311Packages.setuptools"]

[phases.install]
cmds = ["pip install -r backend/requirements.txt"]

[start]
cmd = "cd backend && python manage.py migrate && gunicorn core.wsgi --bind 0.0.0.0:$PORT --log-file -"
